<body class="body">
    <h1 class="title">Welcome to my page!</h1>
    <p>
        If you're reading this, you're most likely looking to find out more
        about the person I am!
    </p>
    <p class="paragraph">
        I'm a Canadian computer science student, I come from that one French
        part of Canada, a blissful place known as Quebec. I enjoy doing
        programming work, especially if it's database-related! My personality
        type is INFJ-T which stands for, in this order, Introverted, Intuitive,
        Feeling, Judging, Turbulent. While I may not have the most extroverted
        personality, I do care deeply about others and am always looking to
        improve by whatever means possible
    </p>
    <!-- <h2 class="title"> My links </h2>
    <ul class="list">
        <li class="link-item">
            <a href="https://www.a.com">a</a>
        </li>
    </ul> -->
</body>